.custom-appbar {
  background-color: #fff;
  box-shadow: none;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.search-bar-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  background-color: #ECE6F0;
  border-radius: 20px;
  padding: 4px 12px;
  max-width: 600px;
}

.search-icon {
  color: #49454F;
  margin-right: 8px;
}